<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EndianBinaryIO" version="1.1.2" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Windows.Compatibility" version="5.0.2" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net471" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net471" />
  <package id="NAudio" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.0.1" targetFramework="net48" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net471" />
  <package id="System.CodeDom" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.Data.Odbc" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.OleDb" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="5.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.1" targetFramework="net48" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices.AccountManagement" version="5.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices.Protocols" version="5.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Ports" version="5.0.0" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="5.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceModel.Duplex" version="4.8.0" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.8.0" targetFramework="net48" />
  <package id="System.ServiceModel.NetTcp" version="4.8.0" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.8.0" targetFramework="net48" />
  <package id="System.ServiceModel.Security" version="4.8.0" targetFramework="net48" />
  <package id="System.ServiceModel.Syndication" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net48" />
  <package id="System.Speech" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net48" />
</packages>