<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net471" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net471" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net471" />
  <package id="Sanford.Multimedia.Midi" version="6.6.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="YamlDotNet" version="4.3.1" targetFramework="net471" />
</packages>